body {
    height: 2000px;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.fade-out {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #3498db;
    color: white;

    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
    z-index: 1;
    /*en ön planda kalmasını sağlar*/
}

.side {
    position: fixed;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: #2ecc71;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.content {
    margin: 0 auto;
    width: calc(100% - 200px);
    padding-top: 150px;
    margin-right: 10px;
    margin-left: 110px;
    text-align: left;
}

div.ek-yönerge {
    height: 80%;
    width: 100%;
    background-color: rgb(255, 0, 85);
}

div.categories {
    height: 20%;
    width: 100%;
    background-color: rgb(255, 177, 85);
    display: flex;
    justify-content: space-evenly;
}

/* menü kısımları burada yapıldı */

.menu {
    display: none;
    background-color: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(10px);
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    height: 100vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;/* Dışarı taşmayı engelle */
    


}

.menu-container {
    position: relative;
    display: inline-block;
    transition: all 2s ease-in-out;



}

.menu-container:hover .menu {
    display: block;
}

.menu-item {
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    display: flex;
    text-align: center;

}


.left .menu {
    left: 0; /* Sol menü için solda konumlandır */
    right: auto; /* Sağ menü konumlandırmasını devre dışı bırak */
}

.right .menu {
    right: 0; /* Sağ menü için s    ğda konumlandır */
    left: auto; /* Sol menü konumlandırmasını devre dışı bırak */
}


.menu-item:hover {
    font-size: 1.2em;
    transition: all 0.5s;

}

.menu-item::after {
    font-size: 1em;
    transition: all 0.5s;
}

#menu1 {
    margin-left: 30px;
}
